* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 18px;
  border-radius: 8px;
  min-height: 36px;
}

window#waybar {
  background: rgba(0,0,0,0);
}

#idle_inhibitor {
  margin-left: 12px;
  border-radius: 9999px;
  background-color: black;
  color: white;
}
